<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" novalidate>
    <input name="un" type='text' ng-model='user.username' ng-minlength="3" ng-maxlength="1000000">
    <input name="pw" type="password" ng-model='user.password' ng-minlength="3" ng-maxlength="1000000">
    <button type='submit' ng-disable="signinForm.$invalid">signin</button>
    <p ng-show="signinForm.un.$invalid && !signinForm.un.$pristine">Not A Valid Username</p>
    <p ng-show="signinForm.pw.$invalid && !signinForm.pw.$pristine">Not A Valid Password</p>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
